<div class="flex-container">
  <div class="flex-item">
    <div class="input" [ngClass]="{ shrink: isInputShrunk }">
      <input
        type="text"
        placeholder="Telaffuz Edilecek Kelimeyi Giriniz..."
        [(ngModel)]="word"
        aria-describedby="button-addon2"
      />
      <button
        class="fa-brands fa-searchengin btn btn-outline-secondary"
        type="button"
        id="button-addon2"
        (click)="searchWord()"
      ></button>
    </div>

    <!-- API Verileri -->
    <div
      *ngIf="definitions && definitions.length > 0"
      class="results-container"
      [ngClass]="{ show: showResults }"
    >
      <h1 class="text-center fw-bold">{{ word }}</h1>
      <hr />

      <!-- Phonetic telaffuz değerini gösterme. -->

      <div *ngIf="phonetic" class="phonetic-container">
        <p class="text-center fs-5">{{ phonetic }}</p>
        <br />

        <!-- Sesli telaffuz butonu -->
        <div *ngIf="phoneticAudioUrl" class="text-center">
          <audio controls>
            <source [src]="phoneticAudioUrl" type="audio/mpeg" />
          </audio>
        </div>
      </div>

      <div *ngFor="let meaning of definitions[0]?.meanings">
        <ol>
          <div *ngIf="synonyms.length > 0" class="synonyms-container">
            <p *ngFor="let synonym of synonyms">
              <strong class="fw-bold titleColors">Synonyms: </strong
              >{{ synonym }}
            </p>
          </div>
          <br />
          
          <h2 class="fw-bold titleColors">{{ meaning.partOfSpeech }}</h2>

          <li class="fs-6" *ngFor="let def of meaning.definitions">
            <strong class="fw-bold">Definition: </strong>
            {{ def.definition }}

            <p *ngIf="def.example" class="fs-6">
              <strong class="fw-bold">Example: </strong>
              {{ def.example }}
            </p>            
            <br />
          </li>
          
        </ol>
      </div>
    </div>

    <!-- Kelime bulunamazsa gösterilecek mesaj -->
    <div *ngIf="definitions === null">
      <p class="text-center fw-bold">Kelime bulunamadı.</p>
    </div>
  </div>
</div>
